body {
  background-color: #232323;
  color: #7da7ce;
}

.button, button {
  background: #4b4b4b;
  color: #4aa1a1;
  border: none;
  border-radius: 18px;
  padding: 0.6em 1.5em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.18);
  transition: background 0.2s, color 0.2s;
}

.button:hover, button:hover {
  background: #6c757d;
  color: #a19a9a;
}

.list-container {
  background: #4b4b4b;
  border-radius: 18px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.18);
  padding: 2em;
  margin: 2em 0;
}